<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory Control</title>
    <link rel="stylesheet" type ="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link th:src="@{/webjars/bootstrap/css/jquery.min.js}" />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Bem vindo ao meu controle de estoque</h1>
    <h2><a th:href="@{/products}">Gerenciamento de produtos</a></h2>
</div>
</body>
</html>